extends layout.pug
block variables
    -var pageClass = "home";

block content
    // begin fScreen
    section#fScreen.fScreen.section
        .fScreen__bg(style="background-image: url(img/f-bg.jpg)")
        .container_center
            .fScreen__sub welcome to our studio
            h1.section__title Empower Your Body And Mind
            .fScreen__soc
                .soc
                    a.icon_fb(href="#")
                    a.icon_youtube(href="#")
                    a.icon_insta(href="#")
                    a.icon_mail(href="#")
            .fScreen__scroll
                a.icon_scroll(href="#why" data-scroll-to="")

    // end fScreen

    // begin why
    section#why.why.section
        .container_center
            h2.section__title Why Choose Valia?

            .why__content
                .why__img
                    img(src="img/why.png", alt="")
                .why__text
                    h3 We offer An integrative approach to modern medicine
                    p Our goal at the Valia lifestyle studio is to help you feel your best by integrating advanced lab testing with nutrition, fitness, and mind-body training. 
                    p Our multidimensional approach is designed to help you reach your peak performance and potential. 

    // end why

    // begin approach
    section#approach.approach.section
        .container_center
            h2.section__title Our approach
            .section__sub We combine mind and body solutions

            .approach__content
                .approach__list
                    each item, i in [{name: 'Meditation and Yoga', text:'to bounce back from life’s challenges'},{name: 'Nutritional programs', text:'to fuel your body and mind'},{name: 'Fitness Training', text:' to meet your dynamic everyday needs'},{name: 'Preventive Medicine', text:' to treat the root causes of health issues'}]
                        div
                            .approach__item
                                .approach__img
                                    img(src="img/approach-"+i+".jpg", alt="")
                                .approach__name= item.name
                                .approach__text= item.text

            .section__link
                a.btn(href="#") Book Now

    // end approach

    // begin issues
    section#issues.issues.section
        .container_center
            h2.section__title Some Issues we treat
            .section__sub Health Insurance Accepted

            .issues__list
                each item, i in [{name: 'Weight', text: 'Change your body for good by getting lean and strong', style: 'background-color: #174255;'},{name: 'Gut', text: 'Restore your gut integrity for optimal fueling and function', style: 'background-color: #228c73;'},{name: 'Heart', text: 'Lower your cholesterol, glucose, and blood pressure with root cause solutions', style: 'background-color: #fbbdaa;'},{name: 'Energy', text: 'Identify and break through what’s holding you back from higher energy levels ', style: 'background-color: #6fbdbf;'}]
                    .issues__row
                        .issues__img(style="background-image: url(img/issues-"+i+".jpg)")
                        .issues__text
                            .issues__bg(style= item.style)
                            h3= item.name
                            p= item.text
            .section__link
                a.btn(href="#") Book Now

    // end issues

    // begin team
    section#team.team.section
        .container_center
            h2.section__title Meet Our Team
            .section__sub We have the most caring and professional trainers 

            .team__list
                each item, i in [{name: 'Dr. Ingrid edshteyn', text: 'Founder & Board Certified Preventive Medicine Physician'},{name: 'Florence Sylvestre', text: 'NSCA Certified Strength & Conditioning Specialist'},{name: 'Kyle Milnes', text: 'NSCA Certified Strength & Conditioning Specialist and Nutrition Coach'},{name: 'Robert Taylor', text: 'NSCA Certified Strength & Conditioning Specialist'}]
                    .team__item
                        .team__img
                            img(src="img/team-"+i+".png", alt="")
                        .team__name= item.name
                        .team__text= item.text

            .section__link
                a.btn(href="#") Learn More

    // end team

    // begin reviews
    section#reviews.reviews.section
        .container_center
            h2.section__title Reviews

            .reviews__slider
                each item in ['', '', '']
                    .reviews__slide
                        .reviews__left
                            .reviews__img
                                img(src="img/review.png", alt="alt")
                            .reviews__name Jake White
                        .reviews__text
                            b I absolutely love Dr. Ingrid! 
                            |She's kind, caring and genuinely concerned about HEALTH care. Her advice and direction are leading me toward better health, not just managing sickness. Thank you Dr. Ingrid!
                            .reviews__date 05/02/2019

    // end reviews

    // begin question
    section#question.question.section
        .container_center
            h2.section__title Still have questions?
            .section__sub Please leave your email and we’ll be in touch!

            form.form
                .form__row
                    input(type="email", placeholder="Email" required)
                .form__row
                    button.btn(type="submit") Write me back!

    // end question
